<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Leaflet Maps</ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-padding>


  <ion-item>

    <ion-label>Map Tyles</ion-label>
    <ion-select [(ngModel)]="tyle" (ionChange)="selectTyle()" interface="action-sheet">
      <ion-option *ngFor="let t of tilesURLs" value="{{t.url}}">{{t.desc}}</ion-option>
    </ion-select>
  </ion-item>
  <div id="mapContainer" style="width:100%; height:92%; ">
    <div id="map" style="width:100%; height:100%;">
      
    </div>
  </div>
  <button id="centerButton" ion-button icon-only round clear large (click)="centerMe()" style="z-index: 999;">
    <ion-icon name="md-locate"></ion-icon>
  </button>
  
</ion-content>